@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto+Slab&display=swap');
body{
    margin: 0;
    padding:0;
    background-color: bisque;
}
.Wishes{
    background-color: blue;
    text-align: center;
    padding: 20px;
    margin-top: 200px;
    font-family: 'Roboto Slab', serif;
    color: white;
    transition-property: background, border-radius, width;
    transition-duration: 1s;
}
.Wishes:hover, .Wishes:active {
    background-color: red;
    border-radius: 50%;
}
/*.Wishes::before,
.Wishes:after{
    position:absolute;
    content: '';
    height:100px;
    width:100px;
    background-color: red;
    bottom:0;
}
.Wishes::before{
    right:50%;
    transform: skew(0,20deg);
    margin-top: 15%;
}
.Wishes::after{
    left:50%;
    transform:skew(0,-20deg);
    margin-bottom: 15%;
    
}*/
h2{
    font-size: 50px;
}
div:nth-child(2){
    background: saddlebrown;
}
.Sign{
    text-align: center;
    padding: 10px;
    margin-top: 21.5%;
    font-family: 'Lobster', cursive;
}
.Sign:hover{
    transition-duration: 2s;
    transform: rotateY(360deg);
}

h3{
    font-size: 30px;
}
h3:hover{}